<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Records</h4>
    <table>
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Edit</th>
        {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td><!--Id-->
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td><a href="/delete-item/{{ record[0] }}">Delete</a> </td>
                <td><a href="/edit-item/{{ record[0] }}">Edit</a></td>

            </tr>
        {% endfor %}
    </table>
      <h5><a href ="/add-product/">add-new-item page</a></h5>
</body>
</html>
