<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POS Records | LC Academy  </title>
</head>
<body>
<form action="/add-new-record/" method="post">
        <h3>Item Info</h3>
        Name<br>
        <input type="text" name="product_name" id="product"><br>

        Price<br>
        <textarea name="price" id="product_price"></textarea><br>

        brand<br>
        <input type="text" name="brand" id="product_brand"><br>

        Image<br>
        <input type="file" name="picture" id="product_image"><br>
        <input type="submit" value="submit"><br>
    </form>
      <h5><a href="/show-records/">show records json</a></h5>
      <h5><a href="/show-records-table/">show records table</a></h5>


</body>
</html>
